{# src/AppBundle/Resources/views/Partenaire/form.html.twig #}

<h3>Formulaire de partenaire</h3>

{# On laisse vide la vue pour l'instant, on la comblera plus tard
   lorsqu'on saura afficher un formulaire. #}
<div class="well">

    <div class="well">



        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}


        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        <fieldset>

            <legend>Description</legend>

            {# Génération manuelle et éclatée : #}
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.name, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.name) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            {# Idem pour un autre champ. #}
            <div class="form-group">
                {{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.content) }}
                <div class="col-sm-10">
                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

        </fieldset>


        {# Creation du tableau coordonnee #}
        <fieldset>
            <legend>Coordonnee</legend>

            {# Génération manuelle et éclatée : #}
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.street, "La rue", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.street) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.number, "Le numero", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.number) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.code, "Code postal", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.code) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.locality, "Localiter", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.locality) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.locality, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Site web</legend>
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.email) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.mobile, "Telephone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.mobile) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.mobile, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Site web</legend>
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.webSite, "Site web Officiel", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.webSite) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.webSite, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.facebook, "Facebook", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.facebook) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.facebook, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Heure d ouverture</legend>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.timeStart, "Heure d ouverture", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.timeStart) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.timeStart, {'attr': {'class': 'form-control time' }}) }}
                </div>
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.timeEnd, "Heure de fermeture", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.timeEnd) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.timeEnd, {'attr': {'class': 'form-control time'}}) }}
                </div>
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.exception, "Exeception (Conger)", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.exception) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.exception, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </fieldset>

        <fieldset>

            <legend>Image</legend>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.image.file, "Image du header UPLOAD", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.image.file) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.logo.file, "Image du logo de la societe(format carre) UPLOAD", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.logo.file) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.logo.file, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.flyers.file, "Image de la devanture UPLOAD", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.flyers.file) }}

                <div class="col-sm-10 ">
                    {# Génération de l'input. #}
                    {{ form_widget(form.flyers.file, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </fieldset>


        <fieldset>
            <legend>Ajouter Categorie</legend>
            {{ form_row(form.product, {'attr':{'class':'custom-select sources'}})}}

        </fieldset>


        {{ form_row(form.published) }}

        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>

</div>